
<section class="Main">
  <div v-for="(item, index) in data">
    <div class="row">
        <div class="col-sm-12" style="text-align: center; margin: 10px 0 0;">
            <h4 v-if="index === 0">The data: a random selection of Coronavirus tweets</h4>
            <h4 v-if="index === 2">Stories: What keyword appearances tell us about the pandemic</h4>
            <h4 v-if="index === 6">Discover: More interesting keywords to explore</h4>
        </div>
    </div>

    <div class="row" v-if="index === 0">
      <div class="col-sm-12" style="padding: 5px 30px 0;">
        <p>During the last decade, twitter has emerged as the primary discussion platform online for everybody who is or believes to be important. Therefore, a colossal event like a global pandemic will not just be a major topic on twitter, but looking at how it is discussed there can be quite enlightening. For everybody, who is a bit tired of looking only at infection numbers all the time, we offer some alternative numbers about the coronavirus pandemic. 
        </p>
        <p>For this, we have taken a total of about 1.1 million random English tweets between January and April that thematized corona and analyzed them. Enjoy!
          </p>
      </div>
    </div>
    
    <div v-if="item.length > 1">
      <div class="row">
          <div class="col-sm-6" v-for="subitem in item">
              <Chart v-bind:code="subitem" v-if="subitem"/>
          </div>
      </div>
    </div>
    <div v-if="item.length === 1">
        <div class="row">
            <div class="col-sm-12" v-for="subitem in item"> 
                <Chart v-bind:code="subitem" v-if="subitem"/>
            </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12" style="text-align: center; margin: 10px 0 0;">
          <h4>Advanced: A deeper look at the tweets</h4>
      </div>
  </div>
  <div v-for="item in images" v-if="images && images.length > 0">
    <ImageCard v-bind:code="item" v-if="item"/>
  </div>

  <ImageCarousel></ImageCarousel>

  <div class="row">
      <div class="col-sm-12" style="padding: 5px 30px 0;">
          <h4  style="text-align: center; margin: 10px 0;">Data Sources</h4>
          <ul>
            <li>Covid pandemic data: 
              <a href="https://covid.ourworldindata.org/data/owid-covid-data.csv" target="_blank">https://covid.ourworldindata.org/data/owid-covid-data.csv</a>
            </li>
            <li>Trending topics data: 
              <a href="https://github.com/xxz-jessica/COVID-19_UCD_Challenge/blob/master/Twitter_Trending_Topics/usa_trending.csv" target="_blank">https://github.com/xxz-jessica/COVID-19_UCD_Challenge/blob/master/Twitter_Trending_Topics/usa_trending.csv</a>
            </li>
            <li>Sampled twitter data: 
              <a href="https://github.com/xxz-jessica/COVID-19_UCD_Challenge/tree/master/Tweet_Raw_Data/raw_data" target="_blank">https://github.com/xxz-jessica/COVID-19_UCD_Challenge/tree/master/Tweet_Raw_Data/raw_data</a>
            </li>
            <li>News articles data, CNN data: 
              <a href="https://github.com/xxz-jessica/COVID-19_UCD_Challenge/blob/master/News_Fox_CNN/CNN_full.xlsx" target="_blank">https://github.com/xxz-jessica/COVID-19_UCD_Challenge/blob/master/News_Fox_CNN/CNN_full.xlsx</a>
            </li>
            <li>News articles data, FOX data: 
              <a href="https://github.com/xxz-jessica/COVID-19_UCD_Challenge/blob/master/News_Fox_CNN/foxnews_article_form.xlsx" target="_blank">https://github.com/xxz-jessica/COVID-19_UCD_Challenge/blob/master/News_Fox_CNN/foxnews_article_form.xlsx</a>
            </li>
            <li>Number of total Coronavirus tweets: 
              <a href="https://raw.githubusercontent.com/xxz-jessica/COVID-19_UCD_Challenge/master/Tweet_Raw_Data/tweet_per_day_1" target="_blank">https://raw.githubusercontent.com/xxz-jessica/COVID-19_UCD_Challenge/master/Tweet_Raw_Data/tweet_per_day_1</a>
            </li>
          </ul>
      </div>
  </div>
</section>

