/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";

$footerHeight: 4rem;
$headerHeight: 4rem;
$timelineHeight: 8rem;

$fhHeader: $footerHeight + $headerHeight;

$mainHeight: calc(100vh - 12rem);
$contentHeight: calc(100vh - 12rem - 5rem);

$placeholderColor1: #fafafa;
$placeholderColor2: #fcfcfc;

$bordersColor: $gray-400;
$footerColor: $gray-900;
$aColor: $gray-600;
$aActiveColor: $gray-200;
$textColor: $gray-100;

$defaultFontSize: $font-size-sm;
$errorColor: $red-600;

$notPresent: $red-100;
$present: $green-600;
